* {
    background-color: beige;
    color: brown;
    margin: 0;
    pa
}

.header{
    display: flex;
    justify-content: space-between;

    .nav{
        display: flex;
        gap: 2rem;
    }
}